#aboutus {
  background: url(../media/Backgrounds/Fondos/w06.jpg) no-repeat center;
  background-size: auto;
  width: 100%;
  min-width: 800px;
  height: 80%;
  min-height: 600px;
  z-index: 5;
  position: absolute;
  margin: 0px 0px 0px 0px;
}

#changer_left {
  position: absolute;
  background: url(../media/Icons/left_arrow.png) no-repeat center;
  background-size: contain;
  left: 5%;
}

#changer_right {
  position: absolute;
  background: url(../media/Icons/right_arrow.png) no-repeat center;
  background-size: contain;
  left: 90%;
}

.info_changer {
  position: relative;
  width: 100px;
  height: 100%;
  min-height: 50px;
  max-height: 100px;
  opacity: 0.5;
  z-index: 15;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

#changer_right:hover {
  transform: rotate(-20deg);
  -moz-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  opacity: 1
}

#changer_left:hover {
  transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  opacity: 1
}

.inside_div_centered {
  width: 30%;
  height: 40%;
  text-align: center;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, -30%);
  -webkit-transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
  -o-transform: translate(-50%, -30%);
}

.inside_div_centered p {
  font-size: 150%;
}

.inside_div_centered h1 {
  font-size: 200%;
}
