#content_box {
    padding:10px;
    border-radius:10px;
    background:#FFFFFF;
}

#content_scroller {
    height:150px;
    overflow-y:scroll;
}

#content_table{
    border:none;
}

#content_table tr,th,td{
    border:none;
    border-collapse:collapse;
    border-spacing:0;
    background:inherit;
    color:inherit;
}

#content_table tr:hover{
    background:#F7F7F7;
}

#content_tabs {
    height: 40px;
}

#content_tabs table{
    margin-left:0px;
    border:none;
    border-spacing: 0px;
}

.content_tab {
    height:30px;
    width: 80px;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    border: 2px solid white;
    border-bottom: 2px solid #7F7F7F;
    background-color:#BFBFFF;
    text-align: center;
}

.content_tab h1{
    font-weight: bold;
    font-size: 8pt;
    color: white;
    display:inline-block;
    vertical-align: middle;    
}
