body {
    /*background-image: url("../media/background.jpg");*/
    background-color: white;
    /*background-image: url("../media/aaa.png");*/
    background-position: center;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #444444;
    background-color: white;
}

td {
    border: 1px solid #444444;
}

th {
    border: 1px solid #444444;
    background-color: #444444;
    color: white;
}

h1 {
    color: black;
    text-align: center;
}
