body {
  background: url("../media/Backgrounds/Fondos/loginwallpp.jpg");
}

#registration_box {
  position: absolute;
  float: right;
  width: 40%;
  height: 70%;
  top: 10%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, 5%);
  padding-top: 20px;
  padding-bottom: 50px;
  /*background-color: #666666;*/
}

#registration_box h1 {
  color: white;
}

#registration_box form {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  right: 10px;
}

#registration_box input {
  width: 60%;
  height: 100%;
  min-width: 300px;
  max-width: 600px;
  padding: 12px 30px;
  margin: 10px 10px;
  display: inline-block;
  border: 5px solid #FFFFFF;
  border-radius: 5px;
  box-sizing: border-box;
  opacity: 0.8;
  text-align: center;
  font-size: 18px;
}

#registration_box label {
  color: white;
  font-size: 20px;
}

#registration_box input[type=submit]:hover {
  opacity: 1;
  background-color: #77DD77;
  border: 5px solid #77DD77;
}

#registration_box .g-recaptcha {
  padding: 15px 15px 15px 15px;
  width: 50%;
  position: relative;
  transform: translate(50%, 0);
  align: center;
}

#errordiv {
  position: absolute;
  width: 400px;
  height: auto;
  background-color: #FF4D4D;
  top: 20%;
  left: 50%;
  z-index: 12;
  transform: translate(-50%, -50%);
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  border: solid 4px #666666;
  color: white;
  text-align: center;
  font-size: 20px;
  visibility: hidden;
}

#alert {
  width: 50%;
  height:
}
