/*----------------------------------------------*/


/*Parte superior, la del fondo + menu + imagen redefine*/


/*----------------------------------------------*/

#separador1 {
    position: absolute;
    height: 50%;
    width: 100%;
    background: url(../media/Backgrounds/thumb-1920-137465.jpg) no-repeat;
    background-size: cover;
}

#box-redefine {
    position: relative;
    left: 47.5%;
    z-index: 20;
    top: calc(var(--main-width) / -4);
    background-image: url(../media/Logo2.gif);
    --main-width: 100px;
    background-size: auto calc((var(--main-width) / 0.866));
    background-position: center;
}

#box-menu-left {
    position: absolute;
    left: 5%;
    width: 45%;
    height: 35px;
}

#box-menu-right {
    position: absolute;
    right: 5%;
    height: 35px;
    width: 45%;
}

#menuul-left {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    background-color: rgba(51,51,51,0.7);
    opacity: 1;
    flex: 5;
    visibility: visible;
    height: 45px;
    width: 100%;
    position: absolute;
    border-bottom-left-radius: 5px;
}

#menuul-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(51,51,51,0.7);
    opacity: 1;
    flex: 5;
    visibility: visible;
    height: 45px;
    width: 100%;
    position: absolute;
    border-bottom-right-radius: 5px;
}

#menuul-right a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

#menuul-left a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

#menuul-right a:hover {
    animation-name: aparecer;
    animation-duration: 0.4s;
    background-color: #30586E;
}

#menuul-left a:hover {
    animation-name: aparecer;
    animation-duration: 0.4s;
    background-color: #30586E;
}

#menu_salir {
    display:none;
}

@keyframes aparecer {
    from {
        background-color: #33d6ff;

    }
    to {
        background-color: #30586E;
    }
}

#username {
    color: black;
    text-align: center;
    font-weight: bold;
}


/*----------------------------------------------*/


/*Este se encarga de centrar los hexagonos al centro de la pantalla*/


/*----------------------------------------------*/

#itemMenuCenter {
    position: relative;
    left: 20%;
    top: auto;
    padding: 30px;
    float: left;
    width: auto;
}

#itemMenuCenter h1 {
    position: relative;
    color: white;
    top: 20%;
    font-size: 32px;
    background-color: black;
}


/*----------------------------------------------*/


/*Definimos el estilo/comportamiento de cada hexagono por separado*/


/*----------------------------------------------*/

#SignUp {
    background-image: url(https://media.giphy.com/media/l3vR1GSc8kQEFBlWU/giphy.gif);
    background-size: auto calc(var(--main-width) / 0.866);
    background-position: center;
}

#LogInScreen {
    width: auto;
    height: auto;
    background-color: #000000;
    opacity: 0.9;
    display: none;
    position: absolute;
    z-index: 5;
    border-radius: 10px;
    left: calc(var(--main-width)/ -2);
    color: white;
    padding: 20px;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

#LogInScreen:hover {
    display: block;
}

#SignUp:hover+#LogInScreen {
    display: block;
}

#ZonaIndie {
    background-image: url(https://media.giphy.com/media/l41YchbmuHTURt3X2/giphy.gif);
    background-size: auto calc(var(--main-width) / 0.866);
    background-position: center;
}

#Actualidad {
    background: url(https://media.giphy.com/media/oCRvrsqpQFtC0/giphy.gif);
    background-size: auto calc(var(--main-width) / 0.866);
    background-position: center;
}

@keyframes fadeIn {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}
