#menuul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 0;
    flex: 5;
    visibility: hidden;

    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

#container{
  display: flex;
  width: 100%;
}

#box {
    background: red;
    transition: all 1s ease-in-out;
    flex: 1;
}

#box:hover + ul {
    opacity: 1;
    visibility: visible;
}

#menuul:hover{
  opacity: 1;
  visibility: visible;
}

#menuul a
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menuul a:hover
{
    background-color: #111;
}

#username {
    color: white;
    text-align: center;
    font-weight: bold;
}

