body {
  background: url("../media/Backgrounds/Fondos/loginwallpp.jpg");
}

#registration_box {
  position: absolute;
  width: 90%;
  height: 70%;
  top: 10%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, 5%);
  padding-top: 20px;
  padding-bottom: 50px;
}

#registration_box h1 {
  color: white;
  font-size: 30px;
}

#registration_box form {
  /*  text-align: center;*/
  text-align: center;
  margin: 0 auto;
  width: 100%;
  right: 10px;
}

#registration_box input {
  width: 60%;
  height: 100%;
  min-width: 300px;
  max-width: 600px;
  padding: 12px 30px;
  margin: 10px 10px;
  display: inline-block;
  border: 4px solid #FFFFFF;
  border-radius: 5px;
  box-sizing: border-box;
  opacity: 0.8;
  text-align: center;
  font-size: 18px;
}

#registration_box label {
  color: white;
  font-size: 20px;
  text-align: center;
}

#registration_box input[type=submit]:hover {
  opacity: 1;
  background-color: #77DD77;
  border: 5px solid #77DD77;
}

#registration_box .g-recaptcha {
  padding: 15px 15px 15px 15px;
  width: auto;
  height: auto;
  position: relative;
  left: 50%;
  transform: translate(-10%,0%);
}

#errordiv {
  position: fixed;
  width: 100%;
  height: auto;
  background-color: #FF4D4D;
  top: 20%;
  left: 50%;
  z-index: 12;
  transform: translate(-50%, -50%);
  padding: 0px 0px 20px 0px;
  border-radius: 5px;
  border: solid 4px #111111;
  color: white;
  text-align: center;
  font-size: 22px;
  visibility: hidden;
  opacity: 0.9;
}

#alert {
  width: 10%;
  min-width: 100px;
  height:
}

#userused {
  background-color: rgba(51, 51, 51, 0.6);
  width: auto;
  min-width: 200px;
  height: auto;
  font-size: 16px;
  visibility: hidden;
  position: absolute;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
}

#emailused {
  background-color: rgba(51, 51, 51, 0.6);
  width: auto;
  height: auto;
  min-width: 200px;
  font-size: 16px;
  visibility: hidden;
  position: absolute;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
}
